<div class="header font-hero bold">Create practice</div>

<div class="section-block">
    <div *ngFor="let section of sections;let i = index" class="section">
        <mat-toolbar>
            <mat-toolbar-row class="tool-bar" [class.tool-bar-complete]="section.numberEntries.length>0"
                [class.tool-bar-start]="section.numberEntries.length===0">
                <div>
                    Section {{i + 1}}:
                </div>
                <div class="section-title">
                    {{section.numberEntries.length>0 ? section.numberEntries[0].operator : ''}}
                    {{section.numberEntries.length>0 ? section.numberEntries[0].num2 : ''}}
                </div>
                <span class="example-spacer"></span>
                <app-cal-picker [index]="i" [showWidget]="section.showWidget" (onPick)="onAddNumbers($event)">
                </app-cal-picker>
                <!-- <mat-slide-toggle labelPosition='before' (click)="onShuffle(i, !section.shuffle)">
                    <mat-icon>shuffle</mat-icon>
                </mat-slide-toggle> -->
                <button mat-button aria-label="cloud" matTooltip="Shuffle question order"
                    [disabled]="section.numberEntries.length===0" (click)="onShuffle(i, !section.shuffle)">
                    <mat-icon>shuffle</mat-icon>
                </button>
                <button mat-button aria-label="cloud" matTooltip="Remove section" (click)="onRemoveSection(i)">
                    <mat-icon>delete_forever</mat-icon>
                </button>
                <button mat-button aria-label="cloud" matTooltip="Add a new section that is the same as this one" (click)="onCopySection(i)">
                    <mat-icon>file_copy</mat-icon>
                </button>
                <button *ngIf="!section.minimize" mat-button aria-label="cloud" matTooltip="Minimize this section"
                    (click)="onMinimize(i)">
                    <mat-icon>expand_less</mat-icon>
                </button>
                <button *ngIf="section.minimize" mat-button aria-label="cloud" (click)="onMaximize(i)">
                    <mat-icon>expand_more</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="section-preview" *ngIf="!section.minimize">
            <mat-grid-list cols="2" rowHeight="14:1">
                <mat-grid-tile *ngFor="let entry of section.numberEntries">
                    <div fxLayout="row" fxLayoutAlign="start stretch" class="card-block">
                        <div fxLayout="row" fxLayoutAlign="space-around stretch" class="question">
                            <div class="formula">
                                {{entry.num1}}
                            </div>
                            <div class="formula">
                                {{entry.operator}}
                            </div>
                            <div class="formula">
                                {{entry.num2}}
                            </div>
                            <div class="formula">
                                =
                            </div>
                            <mat-form-field class="answer">
                                <input matInput disabled="true">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
    <button mat-button color="primary" class="create-button font-hero" aria-label="cloud" (click)="onAddNewSection()">
        create new section
        <mat-icon>add</mat-icon>
    </button>
    <button mat-button color="primary" aria-label="cloud" class="create-button font-hero"
        [disabled]="shouldDisableStart()" (click)="onStart()">
        Start
        <mat-icon>play_circle_outline</mat-icon>
    </button>
</div>