<div class="left-nav">
    <button mat-button aria-label="cloud" class="block" [class.selected]="selectedMenu==='minus'" routerLink="/setup"
        (click)="onClickMenu('home')">
        <div fxLayout="column" fxLayoutAlign="start">
            <mat-icon class="material-icons md-42 menu-icon">home</mat-icon>
            <div class="menu-text font-small">
                Home
            </div>
        </div>
    </button>
    <!-- <button mat-button aria-label="cloud" class="block" [class.selected]="selectedMenu==='minus'" routerLink="/plus"
        (click)="onClickMenu('plus')">
        <div fxLayout="column" fxLayoutAlign="start">
            <mat-icon class="material-icons md-42 menu-icon">add</mat-icon>
            <div class="menu-text font-small">
                plus
            </div>
        </div>
    </button>
    <button mat-button aria-label="cloud" class="block" [class.selected]="selectedMenu==='minus'" routerLink="/minus"
        (click)="onClickMenu('minus')">
        <div fxLayout="column" fxLayoutAlign="start">
            <mat-icon class="material-icons md-42 menu-icon">remove</mat-icon>
            <div class="menu-text font-small">
                minus
            </div>
        </div>
    </button>
    <button mat-button aria-label="cloud" class="block" [class.selected]="selectedMenu==='minus'" routerLink="/minus"
    (click)="onClickMenu('minus')">
    <div fxLayout="column" fxLayoutAlign="start">
        <mat-icon class="material-icons md-42 menu-icon">clear</mat-icon>
        <div class="menu-text font-small">
            multiply
        </div>
    </div> 
 </button> -->
</div>