.left-nav {
  height: 100%;
  width: 80px;
  background: #f1f6f8;

  .block {
    height: 80px;
    width: 100%;
  }

  .block:hover {
    background-color: #ffffff;
  }

  .title {
    line-height: 60px;
  }
  .menu-icon {
    position: relative;
    left: 10px;
    top: 10px;
  }
}
