<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="!start" (opened)="setStep()" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Create a practice
            </mat-panel-title>
            <mat-panel-description>
                Choose focus area
                <mat-icon>settings</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="button-section" fxLayout="row" fxLayoutAlign="space-evenly stretch">
            <ng-container *ngFor="let num of displayNums">
                <button mat-stroked-button color="primary" aria-label="cloud" (click)="onAddNumbers(num)">
                    -{{num}}
                </button>
            </ng-container>
        </div>

        <div class="chip-section">
            <mat-chip-list aria-label="Fish selection">
                <mat-chip color="primary" *ngFor="let choseNum of chosenNumbers" (click)="onRemoveNumbers(choseNum)">
                    -{{choseNum}}
                </mat-chip>
            </mat-chip-list>
        </div>
        <mat-slide-toggle [(ngModel)]="shouldShuffle" class="example-margin">
            Shuffle
        </mat-slide-toggle>
        <mat-action-row>
            <button mat-raised-button aria-label="cloud" (click)="onStart()">
                start
            </button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

<div class="entry" *ngIf="start">
    <div *ngFor="let section of sections; let i=index" fxLayout="column" fxLayoutAlign="start stretch">
        <div fxLayout="row" fxLayoutAlign="space-evenly stretch" class="title-section">
            <div class="divider"></div>
            <div class="bold font-large"> section {{i+1}}</div>
            <div class="divider"></div>
        </div>
        <mat-grid-list cols="2" rowHeight="6:1">
            <mat-grid-tile *ngFor="let entry of section.numberEntries">
                <div fxLayout="row" fxLayoutAlign="start stretch" class="card-block">
                    <div class="formula">
                        {{entry.num1}}
                    </div>
                    <div class="formula">
                        -
                    </div>
                    <div class="formula">
                        {{entry.num2}}
                    </div>
                    <div class="formula">
                        =
                    </div>

                    <mat-form-field class="answer">
                        <input matInput [(ngModel)]="entry.answer">
                    </mat-form-field>

                    <div *ngIf="isSubmitted">
                        <mat-icon *ngIf="check(entry)" class="material-icons md-42">done</mat-icon>
                        <mat-icon *ngIf="!check(entry)" class="material-icons md-42">clear</mat-icon>
                    </div>
                </div>
            </mat-grid-tile>

        </mat-grid-list>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-evenly stretch" class="submit-section">
        <button class="submit" mat-raised-button aria-label="cloud" (click)="onSubmit()">
            submit
        </button>
        <button class="submit" *ngIf="sections && sections.length>0" mat-raised-button aria-label="cloud"
            (click)="onClear()">
            clear
        </button>
    </div>
</div>