.entry {
  width: auto;

  .divider {
    border-bottom: 1px solid #6E706B;
    width: 40%;
  }

  .card-block {
    width: 250px;
    height: 60px;
    line-height: 60px;
  }

  .formula {
    margin-right: 10px;
  }

  .answer {
    width: 60px;
  }

  .submit-section {
    width: 100%;
  }
}
