.entry {
  margin-top: 40px;

  .title-section {
    margin: 20px;
  }

  .divider {
    border-bottom: 1px solid #c6c8c4;
    width: 40%;
  }

  .test-content {
    width: 80%;
  }

  .card-block {
    width: 250px;
    height: 60px;
    line-height: 60px;

    .question {
      width: 200px;
    }

    .done-icon {
      color: green;
    }

    .wrong-icon {
      color: red;
    }

    .result {
      margin-top: 20px;
    }
  }

  .formula {
    margin-right: 10px;
  }

  .answer {
    width: 60px;
  }

  .submit-section {
    width: 100%;
  }
}
