<mat-card class="example-card" *ngIf="isSubmitted">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Report card</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>

    <!-- maybe a chart here -->
    <mat-card-content>
        <div>
            <div>
                Correct: {{result.right}}
            </div>
            <div>
                Wrong: {{result.wrong}}
            </div>
            <div>
                Duration: {{result.duration}}
            </div>
            <ng-container *ngFor="let dur of result.durations; let i = index">
                Section {{i+1}}: {{dur}}
            </ng-container>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="onCorrection()">Correction</button>
        <button mat-button (click)="onRedo()">Redo</button>
    </mat-card-actions>
</mat-card>

<div class="entry">
    <ng-container *ngIf="!isSubmitted">
        <div>
            <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
            <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
            <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-evenly stretch" class="title-section">
            <div class="divider"></div>
            <div class="bold font-large"> section {{currentIndex+1}}</div>
            <div class="divider"></div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">

            <!-- <button mat-icon-button color="primary" [disabled]="currentIndex===0" (click)="onClickBack()">
                <mat-icon>arrow_back</mat-icon>
            </button> -->
            <div class="test-content">
                <mat-grid-list cols="2" rowHeight="6:1">
                    <mat-grid-tile *ngFor="let entry of sections[currentIndex].numberEntries">
                        <div fxLayout="row" fxLayoutAlign="start stretch" class="card-block">
                            <div fxLayout="row" fxLayoutAlign="start stretch" class="question">
                                <div class="formula">
                                    {{entry.num1}}
                                </div>
                                <div class="formula">
                                    {{entry.operator}}
                                </div>
                                <div class="formula">
                                    {{entry.num2}}
                                </div>
                                <div class="formula">
                                    =
                                </div>
                                <mat-form-field class="answer">
                                    <input matInput [(ngModel)]="entry.answer" autocomplete="off"
                                        (blur)="calculateProgress()">
                                </mat-form-field>
                            </div>
                            <div *ngIf="isSubmitted">
                                <mat-icon *ngIf="check(entry)" class="material-icons md-42 done-icon result">thumb_up
                                </mat-icon>
                                <mat-icon *ngIf="!check(entry)" class="material-icons md-42 wrong-icon result">clear
                                </mat-icon>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>

            <button mat-icon-button color="primary" [disabled]="currentIndex===sections.length-1"
                (click)="onClickNext()">
                <mat-icon>arrow_forward</mat-icon>
            </button>

        </div>

        <div *ngIf="currentIndex===sections.length-1" class="submit-section">
            <button class="submit" mat-raised-button color="primary" aria-label="cloud" [disabled]="isSubmitted"
                (click)="onSubmit()">
                submit
            </button>
        </div>
    </ng-container>
    <ng-container *ngIf="isSubmitted">
        <div *ngFor="let section of sections; let i=index" fxLayout="column" fxLayoutAlign="start stretch">
            <div fxLayout="row" fxLayoutAlign="space-evenly stretch" class="title-section">
                <div class="divider"></div>
                <div class="bold font-large"> section {{i+1}}</div>
                <div class="divider"></div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <div class="test-content">
                    <mat-grid-list cols="2" rowHeight="6:1">
                        <mat-grid-tile *ngFor="let entry of section.numberEntries">
                            <div fxLayout="row" fxLayoutAlign="start stretch" class="card-block">
                                <div fxLayout="row" fxLayoutAlign="start stretch" class="question">
                                    <div class="formula">
                                        {{entry.num1}}
                                    </div>
                                    <div class="formula">
                                        {{entry.operator}}
                                    </div>
                                    <div class="formula">
                                        {{entry.num2}}
                                    </div>
                                    <div class="formula">
                                        =
                                    </div>
                                    <mat-form-field class="answer">
                                        <input matInput [(ngModel)]="entry.answer" autocomplete="off">
                                    </mat-form-field>
                                </div>
                                <div *ngIf="isSubmitted">
                                    <mat-icon *ngIf="check(entry)" class="material-icons md-42 done-icon result">
                                        thumb_up
                                    </mat-icon>
                                    <mat-icon *ngIf="!check(entry)" class="material-icons md-42 wrong-icon result">clear
                                    </mat-icon>
                                </div>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
        </div>
    </ng-container>

</div>