/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}

.font-hero {
  font-size: 24px;
  color: #273139;
}

.font-large {
  font-size: 18px;
  color: #273139;
}

.font-medium {
  font-size: 14px;
  color: #273139;
}

.font-small {
  font-size: 10px;
  color: #273139;
}

.bold {
  font-weight: 500;
}

.font-normal {
  font-weight: normal;
}
